body, ul, li, img {
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}

li {
    list-style-type: none; /* removes bullet points */
    padding: 0 10px;
}

a, i {
    text-decoration: none; /* removes the underline since its a hyperlinkl */
    font-size: 15px;
    color: #5F6368;
}

a:hover {
    text-decoration: underline;
}

/* Header */

header {
    display: flex;
    height: 60px;
    background-color: #f1f1f1; 
}
header a {
    color: #333;
}
header  ul {
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;    
    align-items: center;
}
header img{
    width: 100px;
    height: auto;
}
header #logo {
    grid-column: 1 / 2; 
}
header #main {
    grid-column: 2 / 3;
    justify-self: end;
}



section {
    height: 75vh;
}

/* Body */

h2 {
    color: #d93025;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}

/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer {
    background: #f7f7f7;
    padding: 20px 1.5em;
    
} 
.footer p {
    padding-bottom: 2px 1.5em;
    
}
.footer i {
    padding-right: 5px;
}