body, ul, li, img {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

li {
    list-style-type: none; /* removes bullet points */
    padding: 0 7px;
}

a, i {
    text-decoration: none; /* removes the underline since its a hyperlinkl */
    font-size: 15px;
    color: #5F6368;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    height: 10vh;
   
}

header a { color: #333;}

header ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}

section {
    height: 75vh;
}
/* Google Logo */
.image {
    display: flex; /* automatically aligns elements in columns or rows */
    justify-content: center;
}

.image img {
    width: 350px;
    padding-top: 100px;
}

/* Search Bar */

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:30px;
}

.searchBar input {
    font-size: 14px;
    width: 450px;
    height: 25px;
    padding-left: 30px;
    margin: 30px 0;
}


.searchBar  > input:hover {
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
}

.searchBar i {
    width: 50px;
    position: relative;
    left: 45px;
}

.mic {
    height: 20px;
    position: relative;
    top: 2px;
    right: 20px;
    
}

/* Search Buttons */

.searchButtons {
    display: flex;
    justify-content: center;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
}
.searchButtons input {
    color: #5F6368;
    border: 1px solid #f2f2f2;
    margin: 11px 4px;
    padding: 0 16px;   
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    border-radius: 5px;
}

.searchButtons > input:hover {
    color: #222;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px rgba(0,0,0, 0.2);
}

.searchButton:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
}
p {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}

/* Footer */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer {
    background: #f7f7f7;
    padding: 20px 1.5em;
    
} 
.footer p {
    padding-bottom: 2px 1.5em;
    
}
.footer i {
    padding-right: 5px;
}